@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To PC-Merchant</h1>
    <p>A quick and easy way to customize and order your PC!</p>
    <p>Start from the left side of the navigation bar, and work your way to the right until you reach your shopping cart.</p>
</div>
