@{
    ViewData["Title"] = "Motherboard";
}

<div class="text-center">
    <h1 class="display-4">Motherboard</h1>
    <p>The heart of your PC; everything integral to a PC functioning relies on a Motherboard!</p>
</div>

<table class="table">
  <thead>
    <tr style="font-size:20px">
      <th>Brand</th>
      <th>Make/Model</th>
      <th>Price</th>
    </tr>
    <tr>
        <th>MSI</th>
        <th>PRO X670-P WIFI ATX AM5</th>
        <th>$269.00</th>
    </tr>
    <tr>
        <th>Asus</th>
        <th>ROG STRIX B550-A Gaming ATX AM4</th>
        <th>$179.99</th>
    </tr>
    <tr>
        <th>Intel</th>
        <th>DB75EN Micro ATX LGA1155</th>
        <th>$219.99</th>
    </tr>
  </thead>

</table>