@{
    ViewData["Title"] = "PC Case";
}

<div class="text-center">
    <h1 class="display-4">PC-Case</h1>
    <p>Where do you think those parts were going to be placed? lying on the ground?!</p>
</div>

<table class="table">
  <thead>
    <tr style="font-size:20px">
      <th>Brand</th>
      <th>Make/Model</th>
      <th>Price</th>
    </tr>
    <tr>
        <th>Corsair</th>
        <th>4000D Airflow ATX Mid Tower Case</th>
        <th>$104.95</th>
    </tr>
    <tr>
        <th>Lian Li</th>
        <th>Lancool II Mesh ATX Mid Tower Case</th>
        <th>$177.75</th>
    </tr>
    <tr>
        <th>Fractal Design</th>
        <th>Pop XL Air ATX Full Tower Case</th>
        <th>$122.98</th>
    </tr>
  </thead>

</table>